*{margin:0}

html, body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

header{
	float: left;
	width: 100%;
	height: 80px;
	background-color: #c4cf7c;
	margin-bottom: 30px;
}

#header-image{
	width: 100%;
	opacity: 0.8;
}
#header-logo{
	float: left;
	margin: 10px 50px 0px 30px;
}
ul.nav-links{
	float: left;
	margin-right: 120px;
	margin-top: 20px;
}
li.nav-buttons{
	display: inline;
	list-style-type: none;
	float: left;
	width: 100px;
	height: 43px;
	margin-left: 25px;
	font-size: 19px;
	text-align: center;
	padding-top: 15px;
	color: #444c15;
	border-radius: 5px;
	letter-spacing: 1px;
}

li.nav-buttons-open{
	display: inline;
	list-style-type: none;
	float: left;
	width: 100px;
	height: 43px;
	margin-left: 25px;
	font-size: 19px;
	text-align: center;
	padding-top: 15px;
	color: #000;
	letter-spacing: 1px;
	text-decoration: underline;
}
a:hover li.nav-buttons{
	color: #000;
	text-decoration: none;
}
.narrow-menu-outer{
	float: left;
	width: 100%;
	height: auto;
}
.narrow-menu-inner{
	display: none;
	height: auto;
	width: 100%;
	margin: 0 auto;
}
#wrapper{
	float: left;
	width: 100%;
	min-height: 100%;
	padding-bottom: 60px;
	box-sizing: border-box;
}
h1{
	color: #9CA563;
}
img{
	border-radius: 4px;
}
.display-box{
	float: left;
	margin: 30px 0px 30px 20px;
	width: 95%;
	height: 400px;
	border-radius: 8px;
	padding-left: 20px;
	background-color: #e1e7ba;
}
.display-box-left{
	float: left;
	display:inline-block;
	width: 45%;
	height: 350px;
	margin-top: 40px;
}
.display-box-right{
	float: left;
	display: inline-block;
	width: 45%;
	height: 350px;
	margin: 40px;
}
.enquire-button {
  color: #000;
  border: none;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 20px 2px;
  border-radius: 10px;
  background-color: #749fcb; 
  cursor: pointer;
}
.people-display-box{
	float: left;
	margin: 30px 60px 30px 20px;
	width: 75%;
	height: 250px;
	border-radius: 8px;
	padding-left: 20px;
	background-color: #e1e7ba;
}
.people-display-box-left{
	float: left;
	display:inline-block;
	width: 45%;
	height: 250px;
	margin: 20px 0px 0px 20px;
}
.people-display-box-right{
	float: right;
	display:inline-block;
	width: 30%;
	height: 250px;
	margin-top: 20px;
}
.text-paragraph{
	float: left;
	margin-top: 30px;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #2b2c2c
}
.outer-select-box{
	text-align: center;
	float: left;
	margin: 30px 0px 30px 20px;
	width: 95%;
	height: 400px;
	border-radius: 8px;
	padding-top: 20px;
	padding-left: 20px;
	background-color: #e1e7ba;
}
.select-box{
	display: inline-block;
	opacity: 0.75;
	float: left;
	height: 250px;
	width: 200px;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 2px 1px #8e8e8e;
	margin: 40px 0px 30px 160px;
	margin-top: 40px;
	margin-left: 160px;
	background-color: white;
}
.select-box:hover{
	opacity: 1;
}

h3{
	margin-left: 10px;
	margin-top: 10px;
}

footer{
	float: left;
	width: 100%;
	height: 140px;
	padding-top: 20px;
	background: #011910;
	color: #fff;
	text-align: center;
}
.social-icons-footer a {
  display: inline;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #00acee;
}
.social-icons-footer a:hover {
  color: #213f66;
}
.footer-text {
  color: #f4f4f4;
  letter-spacing: 1px;
  font-weight: 300;
}
.footer-bg {
  background-color: #193252;
}

#contact-form{
	margin-left: 30%;
}
#form-name, #form-email, #form-phone{
	border: none;
	width: 400px;
	height: 20px;
	margin: 15px 0px 5px 0px;
	padding: 5px;
	display: block;
	font-size: 15px;
	border-radius: 5px;
}
textarea{
	border: none;
	width: 400px;
	height: 80px;
	margin: 15px 0px 5px 0px;
	padding: 5px;
	display: block;
	font-size: 15px;
	border-radius: 5px;
}
.container{
	display: block;
	padding-left: 15px;
	margin-top: 10px
}
.checkmark{
	margin-left: 10px;
}
input[type=submit]{
	height: 50px;
	width: 100px;
	margin-left: 140px;
	background-color: grey;
	border: none;
	border-radius: 4px;
	margin: 8px 50px;
	cursor: pointer;
}

#form-error-list{
display: none;
}

.fa-bars{
	font-size: 30px;
}
#narrow-menu-bar{
	width: 45%;
	margin-left: 30px;
	padding-top: 50px;
}

@media only screen and (max-width: 1150px){
	#header-logo{
		display: none;
	}
	li.nav-buttons-open, li.nav-buttons{
		margin: 0 auto;
	}
	img{
		max-width: 100%;
	}
	.outer-select-box, .display-box, .display-box-left, .display-box-right{
		height: auto;
		width: auto;
		margin-left: 0;
	}
	h1{
		text-align: center;
	}
}
@media only screen and (max-width: 800px){
	#header-logo{
		display: inline-block;
		float: right;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	.narrow-menu-inner{
		display: block;
	}
	.wide-menu{
		display: none;
	}
	header{
		height: auto;
		display: inline-block;
		padding-top: 20px;
	}
	ul.nav-links{
		margin: 0;
		width: 100%;
		height: auto;
		display: none;
	}
	li.nav-buttons-open, li.nav-buttons{
		float: right;
		width: 100%;
		margin-left: 0px;
	}
	img{
		max-width: 100%;
	}
	.outer-select-box, .display-box, .display-box-left, .display-box-right{
		height: auto;
		display: block;
		width: auto;
		margin-left: 0;
	}
	h1{
		text-align: center;
	}
}